.myButtonGreen {
color:green;


}
.myButtonYellow {
color:rgb(226, 187, 89) !important;
}
.myButtonÄndern{
  margin-top: 30px;
  float: left;
  display: table;
  margin:0 auto;
}
.myButtonModal{
  margin: 0 auto;
  margin-top:20px;
  display: table;
}
